<h1>PFLAG National Scholarship Application</h1>

<%= render 'form' %>


<ul class="nav nav-pills">
<li>
	<%= link_to 'Show', @application %>
</li>
<li>
	<%= link_to 'Back', applications_path %>
</li>
</ul>