<h2>Scholarship Reference Confirmation</h2>
<hr>
<p>
<%= @reference.name %>,<br>
Thank you for submitting a reference for <%= @reference.user.name %>.
</p>
<p>
	If you have any questions, please respond to this email or call 202-467-8180.
</p>
<p>
Thank you again,<br>
The PFLAG National Scholarships Team</p>