<h2>Reference Request Confirmation</h2>
<hr>
<p>
<%= @reference.user.name %>,
A reference request has been sent to: <%= @reference.email %>
</p>
<p>
You may view the reference status at: <%= root_url %>
</p>
<p>
	Once the reference has been received, you will receive an email confirmation.
</p>

<p>
	You must also sign your application in order for it to be complete.
</p>

<p>
	If you have any questions, please respond to this email or call 202-467-8180.
</p>