<h2>Request for Scholarship Reference</h2>
<hr>
<p>
<%= @reference.user.name %> has requested that you provide a reference for their application for a PFLAG National Scholarship.
</p>
<p>
To complete the reference, just follow this link: <%= @url %>.
</p>
<p>The reference provided will be kept confidential and will only be shared with the PFLAG National scholarship committee and staff.</p>
<p>
If you have any questions, please respond to this email or call 202-467-8180.
</p>
