
<h1>PFLAG National Scholarship Application<%=image_tag 'logo.png', :width=>"100px", :style=>"margin: 0px 15px 15px 15px; float: right"%>
</h1>
</div>
	
<div class="col-md-9">
	<p class="bodytext" style="margin: 75px 0px 0px 0px;"><%= image_tag "graduation_cap.png", :width=>"200", :style=>"float: left; margin: 5px 25px; box-shadow: 10px 10px 5px #888888; border-radius: 5px;"%>The PFLAG Scholarship program is a critical component of our <a href="http://www.pflag.org/safeschools"><em>Cultivating Respect: Safe Schools for All </em></a>Program, rewarding hard work and leadership in the next generation. It is an opportunity to reach out to young people and acknowledge their role in building our community. What better way to show our commitment to students than to provide support for role models and pioneers around the country that are making schools safer for all students? </p>
	<p>PFLAG’s local and national scholarships are one of the many ways PFLAG supports LGBT and ally youth. Support the students in your community by encouraging them to apply for the PFLAG Scholarship Program.</p>
	<p>Many PFLAG chapters have scholarship programs as well. Students are eligible to receive scholarships from both their local chapter and the national office so encourage students you know to apply for both. Review the list of <a href="http://community.pflag.org/page.aspx?pid=375">chapter scholarships</a>.</p>
	<p><img height="106" src="https://community.pflag.org/image/dow-logo.jpg" style="float: right; margin-left: 15px; margin-right: 0PX;" width="261"></p>
	<p>PFLAG National Scholarships are made possible by several generous donations: The Palmer B. Carson Trust, which established the program, and The GLAD (Gay, Lesbian and Allies at Dow) Employee Network.&nbsp; In addition, many individual donors have contributed to the fund.</p>
	<h3>Eligibility Requirements</h3>
	<ul>
	<li>You are a graduating senior entering higher education for the first time, this calendar year (if you graduated in the past year and took a time off you are still eligible to apply).</li>
	<li>Self identify as a gay, lesbian, bisexual, transgender (LGBT) or an ally to the LGBT community</li>
	<li>Demonstrate an interest in service to the LGBT community.</li>
	<li>Have applied to an accredited U.S.higher education institution.</li>
	</ul>
	<h2><strong style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">See all of 2013 PFLAG National Scholarship receipients in the current issue of the&nbsp;<a href="http://community.pflag.org/file/pflagpole/PFLAGPOLE_Fall-2013.pdf">PFLAGPole</a>!</strong></h2>
	<p>&nbsp;</p>
	<p></p>
</div>	

<div class="col-md-12">

<% if current_user.present? && current_user.application.present? %>
	<%= link_to "Return To Your Application", edit_application_path(current_user.application.id), :class=>"btn btn-primary" %>
<% else %>
	<%= link_to "Begin your application", new_user_session_path, :class=>"btn btn-primary" %>
<% end %>