<p id="notice"><%= notice %></p>

<p>
  <b>Application:</b>
  <%= "#{@reference.application.user.name} (#{@reference.application_id})" unless @reference.application.blank? or @reference.application.user.blank?%>
</p>



<%= render "fields" %>


<% if can? :edit, @reference %>
  <%= link_to 'Edit', edit_reference_path(@reference), :class => "btn btn-default" %> 
<% end %>

